In [3]:
import pandas as pd

covid_raw = pd.read_csv("korea_covid_raw_20250923_025636.csv")

covid_raw.head(5)

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index,collected_at,data_source,collector
0,South Korea,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.726997,45560.125,0.248765,6.8,NaN,12.43,NaN,2025-09-23 02:56:36.408290,OWID,최해혁
1,South Korea,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.726997,45560.125,0.248765,6.8,NaN,12.43,NaN,2025-09-23 02:56:36.408290,OWID,최해혁
2,South Korea,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.726997,45560.125,0.248765,6.8,NaN,12.43,NaN,2025-09-23 02:56:36.408290,OWID,최해혁
3,South Korea,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,82.726997,45560.125,0.248765,6.8,NaN,12.43,NaN,2025-09-23 02:56:36.408290,OWID,최해혁
4,South Korea,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,82.726997,45560.125,0.248765,6.8,NaN,12.43,NaN,2025-09-23 02:56:36.408290,OWID,최해혁

In [4]:
print(covid_raw.shape)

(2067, 64)

In [5]:
covid_raw.isnull().sum()

country                          0
date                             0
total_cases                      7
new_cases                        7
new_cases_smoothed              12
                              ...
hospital_beds_per_thousand       0
human_development_index       2067
collected_at                     0
data_source                      0
collector                        0
Length: 64, dtype: int64

In [6]:
covid_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 64 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     2067 non-null   object
 1   date                                        2067 non-null   object
 2   total_cases                                 2060 non-null   float64
 3   new_cases                                   2060 non-null   float64
 4   new_cases_smoothed                          2055 non-null   float64
 5   total_cases_per_million                     2060 non-null   float64
 6   new_cases_per_million                       2060 non-null   float64
 7   new_cases_smoothed_per_million              2055 non-null   float64
 8   total_deaths                                2060 non-null   float64
 9   new_deaths                                  2059 non-null   float64
 10  new_deaths_smoothed                         2055 non-null   float64
 11  total_deaths_per_million                    2060 non-null   float64
 12  new_deaths_per_million                      2059 non-null   float64
 13  new_deaths_smoothed_per_million             2055 non-null   float64
 14  excess_mortality                            196 non-null    float64
 15  excess_mortality_cumulative                 196 non-null    float64
 16  excess_mortality_cumulative_absolute        196 non-null    float64
 17  excess_mortality_cumulative_per_million     196 non-null    float64
 18  hosp_patients                               134 non-null    float64
 19  hosp_patients_per_million                   134 non-null    float64
 20  weekly_hosp_admissions                      471 non-null    float64
 21  weekly_hosp_admissions_per_million          471 non-null    float64
 22  icu_patients                                1066 non-null   float64
 23  icu_patients_per_million                    1066 non-null   float64
 24  weekly_icu_admissions                       71 non-null     float64
 25  weekly_icu_admissions_per_million           71 non-null     float64
 26  stringency_index                            1096 non-null   float64
 27  reproduction_rate                           1047 non-null   float64
 28  total_tests                                 859 non-null    float64
 29  new_tests                                   859 non-null    float64
 30  total_tests_per_thousand                    859 non-null    float64
 31  new_tests_per_thousand                      859 non-null    float64
 32  new_tests_smoothed                          852 non-null    float64
 33  new_tests_smoothed_per_thousand             852 non-null    float64
 34  positive_rate                               858 non-null    float64
 35  tests_per_case                              858 non-null    float64
 36  total_vaccinations                          654 non-null    float64
 37  people_vaccinated                           655 non-null    float64
 38  people_fully_vaccinated                     655 non-null    float64
 39  total_boosters                              654 non-null    float64
 40  new_vaccinations                            652 non-null    float64
 41  new_vaccinations_smoothed                   654 non-null    float64
 42  total_vaccinations_per_hundred              654 non-null    float64
 43  people_vaccinated_per_hundred               655 non-null    float64
 44  people_fully_vaccinated_per_hundred         655 non-null    float64
 45  total_boosters_per_hundred                  654 non-null    float64
 46  new_vaccinations_smoothed_per_million       654 non-null    float64
 47  new_people_vaccinated_smoothed              654 non-null    float64
 48  new_people_vaccinated_smoothed_per_hundred  654 non-null    float64
 49  code                                        2067 non-null   object
 50  continent                                   2067 non-null   object
 51  population                                  2067 non-null   int64
 52  population_density                          2067 non-null   float64
 53  median_age                                  2067 non-null   float64
 54  life_expectancy                             2067 non-null   float64
 55  gdp_per_capita                              2067 non-null   float64
 56  extreme_poverty                             2067 non-null   float64
 57  diabetes_prevalence                         2067 non-null   float64
 58  handwashing_facilities                      0 non-null      float64
 59  hospital_beds_per_thousand                  2067 non-null   float64
 60  human_development_index                     0 non-null      float64
 61  collected_at                                2067 non-null   object
 62  data_source                                 2067 non-null   object
 63  collector                                   2067 non-null   object
dtypes: float64(56), int64(1), object(7)
memory usage: 1.0+ MB

In [7]:
covid_raw.describe()

,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,new_deaths_smoothed,total_deaths_per_million,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
count,2.060000e+03,2060.000000,2055.000000,2060.000000,2060.000000,2055.000000,2060.000000,2059.000000,2055.000000,2060.000000,...,2067.0,2067.000000,2067.000,2067.000000,2067.000,2.067000e+03,2067.0,0.0,2067.00,0.0
mean,1.897219e+07,16782.462621,16823.295849,366382.418917,324.095425,324.883979,21031.628641,17.455561,17.493628,406.153416,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN
std,1.562438e+07,51809.476725,47825.539395,301730.977037,1000.521482,923.585467,15815.363929,51.926879,45.816690,305.419242,...,0.0,0.000000,0.000,0.000000,0.000,2.776229e-17,0.0,NaN,0.00,NaN
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN
25%,1.419848e+05,0.000000,0.000000,2741.946200,0.000000,0.000000,1967.250000,0.000000,0.000000,37.990656,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN
50%,2.552154e+07,110.000000,375.714300,492860.660000,2.124271,7.255627,29203.000000,1.000000,2.142857,563.955300,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN
75%,3.457187e+07,5844.000000,10500.857500,667636.560000,112.856715,202.787860,35934.000000,11.000000,13.142858,693.941350,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN
max,3.457187e+07,621328.000000,404999.560000,667636.560000,11998.809000,7821.171000,35934.000000,1026.000000,359.428560,693.941350,...,51782473.0,530.558105,43.944,82.726997,45560.125,2.487649e-01,6.8,NaN,12.43,NaN

In [10]:
# "date"컬럼을 datetime 타입으로 변환
covid_raw["date"] = pd.to_datetime(covid_raw["date"])

In [13]:
# 년, 월, 일 컬럼 추가
covid_raw["year"] = covid_raw["date"].dt.year
covid_raw["month"] = covid_raw["date"].dt.month
covid_raw["day"] = covid_raw["date"].dt.day

In [21]:
# 결측치 비율이 50% 이상인 컬럼 제거

# 컬럼 별 결측치 비율 계산
missing_ratio = covid_raw.isnull().sum() / len(covid_raw)
print("\n===== 컬럼별 결측치 비율 =====")
print(missing_ratio)

# 제거할 컬럼 확인(결측치 비율 50% 이상)
threshold = 0.5
cols_to_drop = missing_ratio[missing_ratio > threshold].index
print(f"\n===== 제거할 컬럼 (결측치 비율 > {threshold}) =====")
print(cols_to_drop)

# 해당 컬럼 제거
covid_dropped = covid_raw.drop(cols_to_drop, axis=1)

print("\n===== 결측치 많은 컬럼 제거 후 =====")
covid_dropped.info()

===== 컬럼별 결측치 비율 =====
country               0.000000
date                  0.000000
total_cases           0.003387
new_cases             0.003387
new_cases_smoothed    0.005806
                        ...
data_source           0.000000
collector             0.000000
year                  0.000000
month                 0.000000
day                   0.000000
Length: 67, dtype: float64

===== 제거할 컬럼 (결측치 비율 > 0.5) =====
Index(['excess_mortality', 'excess_mortality_cumulative',
       'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'handwashing_facilities',
       'human_development_index'],
      dtype='object')

===== 결측치 많은 컬럼 제거 후 =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2067 non-null   object
 1   date                             2067 non-null   datetime64[ns]
 2   total_cases                      2060 non-null   float64
 3   new_cases                        2060 non-null   float64
 4   new_cases_smoothed               2055 non-null   float64
 5   total_cases_per_million          2060 non-null   float64
 6   new_cases_per_million            2060 non-null   float64
 7   new_cases_smoothed_per_million   2055 non-null   float64
 8   total_deaths                     2060 non-null   float64
 9   new_deaths                       2059 non-null   float64
 10  new_deaths_smoothed              2055 non-null   float64
 11  total_deaths_per_million         2060 non-null   float64
 12  new_deaths_per_million           2059 non-null   float64
 13  new_deaths_smoothed_per_million  2055 non-null   float64
 14  icu_patients                     1066 non-null   float64
 15  icu_patients_per_million         1066 non-null   float64
 16  stringency_index                 1096 non-null   float64
 17  reproduction_rate                1047 non-null   float64
 18  code                             2067 non-null   object
 19  continent                        2067 non-null   object
 20  population                       2067 non-null   int64
 21  population_density               2067 non-null   float64
 22  median_age                       2067 non-null   float64
 23  life_expectancy                  2067 non-null   float64
 24  gdp_per_capita                   2067 non-null   float64
 25  extreme_poverty                  2067 non-null   float64
 26  diabetes_prevalence              2067 non-null   float64
 27  hospital_beds_per_thousand       2067 non-null   float64
 28  collected_at                     2067 non-null   object
 29  data_source                      2067 non-null   object
 30  collector                        2067 non-null   object
 31  year                             2067 non-null   int32
 32  month                            2067 non-null   int32
 33  day                              2067 non-null   int32
dtypes: datetime64[ns](1), float64(23), int32(3), int64(1), object(6)
memory usage: 525.0+ KB

In [38]:
# 누적 수치 컬럼의 결측치는 이전 행의 정보로 대체

# "total"이 포함된 컬럼명 리스트 생성
cols_to_fill = [col for col in covid_dropped.columns if 'total' in col]
print(f"\n>> 처리할 컬럼: {cols_to_fill}")

# 해당 컬럼들에 대해서만 ffill 실행한 후 bfill 실행
covid_dropped[cols_to_fill] = covid_dropped[cols_to_fill].bfill().ffill()

print("\n===== 처리 후 =====")
covid_dropped.info()

>> 처리할 컬럼: ['total_cases', 'total_cases_per_million', 'total_deaths', 'total_deaths_per_million']

===== 처리 후 =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2067 non-null   object
 1   date                             2067 non-null   datetime64[ns]
 2   total_cases                      2067 non-null   float64
 3   new_cases                        2060 non-null   float64
 4   new_cases_smoothed               2055 non-null   float64
 5   total_cases_per_million          2067 non-null   float64
 6   new_cases_per_million            2060 non-null   float64
 7   new_cases_smoothed_per_million   2055 non-null   float64
 8   total_deaths                     2067 non-null   float64
 9   new_deaths                       2059 non-null   float64
 10  new_deaths_smoothed              2055 non-null   float64
 11  total_deaths_per_million         2067 non-null   float64
 12  new_deaths_per_million           2059 non-null   float64
 13  new_deaths_smoothed_per_million  2055 non-null   float64
 14  icu_patients                     1066 non-null   float64
 15  icu_patients_per_million         1066 non-null   float64
 16  stringency_index                 1096 non-null   float64
 17  reproduction_rate                1047 non-null   float64
 18  code                             2067 non-null   object
 19  continent                        2067 non-null   object
 20  population                       2067 non-null   int64
 21  population_density               2067 non-null   float64
 22  median_age                       2067 non-null   float64
 23  life_expectancy                  2067 non-null   float64
 24  gdp_per_capita                   2067 non-null   float64
 25  extreme_poverty                  2067 non-null   float64
 26  diabetes_prevalence              2067 non-null   float64
 27  hospital_beds_per_thousand       2067 non-null   float64
 28  collected_at                     2067 non-null   object
 29  data_source                      2067 non-null   object
 30  collector                        2067 non-null   object
 31  year                             2067 non-null   int32
 32  month                            2067 non-null   int32
 33  day                              2067 non-null   int32
dtypes: datetime64[ns](1), float64(23), int32(3), int64(1), object(6)
memory usage: 525.0+ KB

In [39]:
# 숫자형이 아닌 컬럼들 중 의미없는 컬럼 삭제
covid_del = covid_dropped.drop(columns = ["collected_at", "data_source", "collector"])

covid_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          2067 non-null   object
 1   date                             2067 non-null   datetime64[ns]
 2   total_cases                      2067 non-null   float64
 3   new_cases                        2060 non-null   float64
 4   new_cases_smoothed               2055 non-null   float64
 5   total_cases_per_million          2067 non-null   float64
 6   new_cases_per_million            2060 non-null   float64
 7   new_cases_smoothed_per_million   2055 non-null   float64
 8   total_deaths                     2067 non-null   float64
 9   new_deaths                       2059 non-null   float64
 10  new_deaths_smoothed              2055 non-null   float64
 11  total_deaths_per_million         2067 non-null   float64
 12  new_deaths_per_million           2059 non-null   float64
 13  new_deaths_smoothed_per_million  2055 non-null   float64
 14  icu_patients                     1066 non-null   float64
 15  icu_patients_per_million         1066 non-null   float64
 16  stringency_index                 1096 non-null   float64
 17  reproduction_rate                1047 non-null   float64
 18  code                             2067 non-null   object
 19  continent                        2067 non-null   object
 20  population                       2067 non-null   int64
 21  population_density               2067 non-null   float64
 22  median_age                       2067 non-null   float64
 23  life_expectancy                  2067 non-null   float64
 24  gdp_per_capita                   2067 non-null   float64
 25  extreme_poverty                  2067 non-null   float64
 26  diabetes_prevalence              2067 non-null   float64
 27  hospital_beds_per_thousand       2067 non-null   float64
 28  year                             2067 non-null   int32
 29  month                            2067 non-null   int32
 30  day                              2067 non-null   int32
dtypes: datetime64[ns](1), float64(23), int32(3), int64(1), object(3)
memory usage: 476.5+ KB

In [40]:
# 국가, 대륙 등과 같은 명목 데이터는 원-핫 인코딩 적용
covid_encoded = pd.get_dummies(covid_del, columns = ["country", "code", "continent"])

covid_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             2067 non-null   datetime64[ns]
 1   total_cases                      2067 non-null   float64
 2   new_cases                        2060 non-null   float64
 3   new_cases_smoothed               2055 non-null   float64
 4   total_cases_per_million          2067 non-null   float64
 5   new_cases_per_million            2060 non-null   float64
 6   new_cases_smoothed_per_million   2055 non-null   float64
 7   total_deaths                     2067 non-null   float64
 8   new_deaths                       2059 non-null   float64
 9   new_deaths_smoothed              2055 non-null   float64
 10  total_deaths_per_million         2067 non-null   float64
 11  new_deaths_per_million           2059 non-null   float64
 12  new_deaths_smoothed_per_million  2055 non-null   float64
 13  icu_patients                     1066 non-null   float64
 14  icu_patients_per_million         1066 non-null   float64
 15  stringency_index                 1096 non-null   float64
 16  reproduction_rate                1047 non-null   float64
 17  population                       2067 non-null   int64
 18  population_density               2067 non-null   float64
 19  median_age                       2067 non-null   float64
 20  life_expectancy                  2067 non-null   float64
 21  gdp_per_capita                   2067 non-null   float64
 22  extreme_poverty                  2067 non-null   float64
 23  diabetes_prevalence              2067 non-null   float64
 24  hospital_beds_per_thousand       2067 non-null   float64
 25  year                             2067 non-null   int32
 26  month                            2067 non-null   int32
 27  day                              2067 non-null   int32
 28  country_South Korea              2067 non-null   bool
 29  code_KOR                         2067 non-null   bool
 30  continent_Asia                   2067 non-null   bool
dtypes: bool(3), datetime64[ns](1), float64(23), int32(3), int64(1)
memory usage: 434.1 KB

In [43]:
# 나머지 결측치에 대해 선형보간
covid_filled = covid_encoded.interpolate(method="linear").bfill().ffill()

covid_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             2067 non-null   datetime64[ns]
 1   total_cases                      2067 non-null   float64
 2   new_cases                        2067 non-null   float64
 3   new_cases_smoothed               2067 non-null   float64
 4   total_cases_per_million          2067 non-null   float64
 5   new_cases_per_million            2067 non-null   float64
 6   new_cases_smoothed_per_million   2067 non-null   float64
 7   total_deaths                     2067 non-null   float64
 8   new_deaths                       2067 non-null   float64
 9   new_deaths_smoothed              2067 non-null   float64
 10  total_deaths_per_million         2067 non-null   float64
 11  new_deaths_per_million           2067 non-null   float64
 12  new_deaths_smoothed_per_million  2067 non-null   float64
 13  icu_patients                     2067 non-null   float64
 14  icu_patients_per_million         2067 non-null   float64
 15  stringency_index                 2067 non-null   float64
 16  reproduction_rate                2067 non-null   float64
 17  population                       2067 non-null   int64
 18  population_density               2067 non-null   float64
 19  median_age                       2067 non-null   float64
 20  life_expectancy                  2067 non-null   float64
 21  gdp_per_capita                   2067 non-null   float64
 22  extreme_poverty                  2067 non-null   float64
 23  diabetes_prevalence              2067 non-null   float64
 24  hospital_beds_per_thousand       2067 non-null   float64
 25  year                             2067 non-null   int32
 26  month                            2067 non-null   int32
 27  day                              2067 non-null   int32
 28  country_South Korea              2067 non-null   bool
 29  code_KOR                         2067 non-null   bool
 30  continent_Asia                   2067 non-null   bool
dtypes: bool(3), datetime64[ns](1), float64(23), int32(3), int64(1)
memory usage: 434.1 KB

In [42]:
covid_filled.head()

,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,diabetes_prevalence,hospital_beds_per_thousand,year,month,day,country_South Korea,code_KOR,continent_Asia
0,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45560.125,0.248765,6.8,12.43,2020,1,1,True,True,True
1,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45560.125,0.248765,6.8,12.43,2020,1,2,True,True,True
2,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45560.125,0.248765,6.8,12.43,2020,1,3,True,True,True
3,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45560.125,0.248765,6.8,12.43,2020,1,4,True,True,True
4,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45560.125,0.248765,6.8,12.43,2020,1,5,True,True,True

In [50]:
output_path = "/workspace/data/processed/covid_processed.csv"

covid_filled.to_csv(output_path, index=False)
print(f"파일이 성공적으로 저장되었습니다: {output_path}")

파일이 성공적으로 저장되었습니다: /workspace/data/processed/covid_processed.csv